{
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"semi": ["error", "always"]
	},
	"extends": ["eslint:recommended", "prettier"]
}